project_id   = "my-gcp-project-id"
region       = "europe-west1"
network_name = "xmpp-prod-net"

# Optional overrides
# private_service_cidr = "10.60.0.0/24"
# db_instance_name     = "ejabberd-sql"
# db_tier              = "db-custom-2-8192"
# db_disk_size_gb      = 100
# db_name              = "ejabberd"
# db_user              = "ejabberd_app"
