hosts:
  - xmpp.local

certFiles:
  secretName:
    - ejabberd-local-cert

statefulSet:
  replicas: 3

service:
  single: false
  type: LoadBalancer
  spec:
    externalTrafficPolicy: Cluster

persistence:
  enabled: true
  storageClass: standard-rwo
  accessModes:
    - ReadWriteOnce
  size: 10Gi

resources:
  requests:
    cpu: 500m
    memory: 1Gi

acl:
  admin:
    user: admin@xmpp.local

access_rules:
  configure:
    allow: admin

api_permissions:
  "webadmin commands":
    from: ejabberd_web_admin
    who: admin
    what: "*"

# expose admin UI + HTTP API handlers via HTTPS (port 5443)
listen:
  https:
    options:
      request_handlers:
        /admin: ejabberd_web_admin
        /api: mod_http_api
  http:
    expose: true
    options:
      request_handlers:
        /admin: ejabberd_web_admin
        /api: mod_http_api
 